# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
.pytest_cache/
.mypy_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / Editor configurations
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
